{{ partial "header.html" . }}
{{ partial "page-header.html" . }}
<section class="wrapper">
{{ if isset .Params "image" }}
<img 
    src="{{ path.Join "/" .Params.image }}" alt="{{.Params.imageAlt}}" width="100%">
{{ end }}

{{.Content}}
<div id="sendComments">
    <div>
        Thank you for reading.
        <br>Please share this post with a friend, and <a class="rss" href="{{ .Site.BaseURL}}subscribe/">subscribe</a> to get notified of new posts.
        <br>Comments may be sent to <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>.
    </div>
</div>
</section>
{{ partial "footer.html" . }}