</div><!--.main-->
<div id="footer">
    <div class="wrapper">

{{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
  Check out articles with these tags:
  <ul class="tags">
    {{ range $tagname, $taxonomy := $.Site.Taxonomies.tags }}
      <li><a href="{{ "/tags/" | relLangURL }}{{ $tagname | urlize }}">{{ $tagname }}</a></li>
    {{ end }}
  </ul>
{{ end }}

    </div>
</div>
<script src="{{.Site.BaseURL}}js/site.js"></script>
<script>
var navElement = document.getElementById("main-nav");
var menuButton = document.getElementById("hamburger");
var mobileSize = 768;
var menu = new Menu(window, navElement, menuButton, mobileSize);
</script>
<script async src="//static.getclicky.com/{{.Site.Params.analyticsKey}}.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/{{.Site.Params.analyticsKey}}ns.gif" /></p></noscript>
